@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

#app-container {
  border-radius: 15px;
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #411E5A; /* Cor do polegar */
}

/* Estilo da trilha */
::-webkit-scrollbar-track {
  background-color: transparent; /* Cor da trilha */
}

/* Estilo do container do scrollbar */
::-webkit-scrollbar {
  border-radius: 10px;
  height: 5px; /* Altura do scrollbar */
  width: 5px; /* Largura do scrollbar */
}

/* latin */
@font-face {
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jockeyone/v21/HTxpL2g2KjCFj4x8WI6AnIHxHA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@layer base {
  body {
    -webkit-app-region: drag;
    font-family: 'Jockey One';
  } 

  a, button, input, textarea, #scroll {
    -webkit-app-region: no-drag;
  } 
}

@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }
}
